#grid {
    display: grid;
    width: 100%;
    
  }
  
  #areaA {
    //background-color: white;
  }
  
  #areaB {
   // background-color: white;
  }

  .label_Title{
      color:#008b56
  }

  .label_resp{
      color:grey
  }
  