
<div class="container" style="height:auto">
       
    
    
        <div class="row" >
            <div class="col l12 m12 s12">
                <div class="divimg">
                    <img class="image_1"  src="/assets/img/popup1/equipe.svg">
                </div>
                <div class="content">
                        <b style="color:black">Composé d'un collaborateur UBCI (Porteur de projet) et de 3 étudiants.</b>
                </div>
               
            </div>
        </div>
    </div>
    