<div class="container" style="height:auto">
    


    

    <div class="row" >
            <div class="col l6 m12 s12">
                <div class="divimg">
                    <img class="image_1" style="width:95%"  src="/assets/img/popup1/1.svg">
                </div>
                <div class="content">
                    <b style="color:black">Amélioration du parcours client</b>
                </div>
               
            </div>
            <div class="col l6 m12 s12">
                <div class="divimg">
                <img class="image_2" style="width:95%"  src="/assets/img/popup1/2.svg">
            </div>
            <div class="content">
                    <b style="color:black">Optimisation de l'organisation et des processus </b>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col l6 m12 s12">
            <div class="divimg">
                <img class="image_1" style="width:95%"  src="/assets/img/popup1/3.svg">
            </div>
            <div class="content">
                <b style="color:black">Engagement de la banque envers ses collaborateurs</b>
            </div>
           
        </div>
        <div class="col l6 m12 s12">
            <div class="divimg">
            <img class="image_2" style="width:95%"  src="/assets/img/popup1/4.svg">
        </div>
        <div class="content">
                <b style="color:black">Engagement de la banque envers son environnement</b>
        </div>
    </div>
</div>

   

</div>
