table {
    width: 100%;
  }

  .mat-elevation-z8 {
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0px rgba(0,0,0,.14), 0 0px 0px 0px rgba(0,0,0,.12);
    margin-top: 2%;
}

.mat-table {
  font-family: Roboto;
}