<!--Table Collaborateur-->
 <div style="margin-top: 2%;"> 
    <label style="font-family: Roboto;color:#008b56;font-weight: bold">COLLABORATEUR DE L'UBCI</label>
 <div class="mat-elevation-z8">
    <table mat-table [dataSource]=[dataSourceP2]> 
  
      <!-- Nom Column -->
        <ng-container matColumnDef="User_Name">
        <th mat-header-cell *matHeaderCellDef> <h3 style="color:gray">Nom </h3>  </th>
        <td mat-cell *matCellDef="let element"> {{element.User_Name}} </td>
      </ng-container> 
  
      <!-- Prénom Column -->
       <ng-container matColumnDef="User_LastName">
        <th mat-header-cell *matHeaderCellDef> <h3 style="color:gray">Prénom </h3> </th>
        <td mat-cell *matCellDef="let element"> {{element.User_LastName}} </td>
      </ng-container> 
  
      <!-- Email Column -->
       <ng-container matColumnDef="User_Email">
        <th mat-header-cell *matHeaderCellDef><h3 style="color:gray">Email </h3>  </th>
        <td mat-cell style="font-weight: bold" *matCellDef="let element"> {{element.User_Email}} </td>
      </ng-container> 
  
      <!-- Téléphone Column -->
      <ng-container matColumnDef="User_Telephone">
        <th mat-header-cell *matHeaderCellDef><h3 style="color:gray">Téléphone </h3> </th>
        <td mat-cell *matCellDef="let element"> {{element.User_Telephone}} </td>
      </ng-container>
  
      <tr style="background:  #f1f1f1" mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
  </div> 
</div> 

     

<!--Table Membres d'Equipe-->
 <div style="margin-top: 2%;"> 
  <div style="display: flex">
      <div>
          <label style="font-family: Roboto;color:#008b56;font-weight: bold">NON DE L'EQUIPE</label>
      </div>
        <div style="border-radius: 15px;border: 1px solid grey;height: 25px;width: 20%;margin-left: auto;">      
            <div></div>
            <div style="padding-left: 12%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
            </div>    
        </div>
  </div>

        <div >
            <mat-table [dataSource]="dataSourceP" class="mat-elevation-z8">
              <ng-container matColumnDef="User_Name">
                <mat-header-cell *matHeaderCellDef><h3 style="color:gray">Nom</h3></mat-header-cell>
                <mat-cell *matCellDef="let qst"> {{qst.User_Name }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="User_LastName">
                <mat-header-cell *matHeaderCellDef><h3 style="color:gray">Prénom </h3></mat-header-cell>
                <mat-cell *matCellDef="let qst"> {{qst.User_LastName }}  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="User_Email">
                <mat-header-cell *matHeaderCellDef><h3 style="color:gray">Email </h3></mat-header-cell>
                <mat-cell style="font-weight: bold" *matCellDef="let qst">{{qst.User_Email }}  </mat-cell>
              </ng-container>
              <ng-container matColumnDef="User_Telephone">
                <mat-header-cell *matHeaderCellDef><h3 style="color:gray">Téléphone</h3></mat-header-cell>
                <mat-cell *matCellDef="let qst"> {{qst.User_Telephone}}  </mat-cell>
              </ng-container>
              

              <ng-container matColumnDef="ac1">
                    <mat-header-cell *matHeaderCellDef > </mat-header-cell>
                    <mat-cell *matCellDef="let qst"  >
                          <button mat-icon-button matTooltip ="Détails" style="color:#02a365ad" >
                                  <img src="/assets/img/ICONS_Website/ICONES/view.svg" style="width: 50%;">
                            </button>
                            <button mat-icon-button  matTooltip ="Supprimer" style="color: #dd1155"  >
                                  <img src="/assets/img/icons_UBCI_Enseignant/delete.png">
                            </button>
                    </mat-cell>
                  </ng-container>
                
                   
              <mat-header-row style="background:  #f1f1f1" *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row   *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </div> 
        
        
  