<div  class="footer row" style="margin-bottom: 0px;">
    <div style="margin:auto" >
    <div class="label-suiv">
      <div style="width: 50%; margin-right: 50%;"><b>SUIVEZ-NOUS!</b><a href="https://fr-fr.facebook.com/UBCI.Groupe.BNP.Paribas/" target="_blank">
        <img style="height:20px;padding-left: 2%;" alt="FB" src="assets/img/social_media/fb.svg"></a></div>
      
        <div class="footer-links">
      
          <a (click)="DownloadFile()" class="footer-link">Réglement</a>
          <a (click)="ShowContact()"  class="footer-link">Contact</a>
      
        </div>
     
    </div>
    
    <hr class="footer-hr">
    <div class="copyright">
      ©Copyright Innovact 2018 - all rights reserved by Chifco
    </div>
  </div>
  </div>