
<div class="container" style="height:auto">
   


    <div class="row" >
        <div class="col l12 m12 s12">
            <div class="divimg">
                <img class="image_1"  src="/assets/img/popup1/calendar-with-a-clock-time-tools.svg">
            </div>
            <div class="content">
                <b style="color: black">
                  6 semaines pour le développement intégrant un accompagnement par:<br>
                  <ul style="text-align: left">
                      <li>Des sessions de formation</li>
                      <li>Des workshops</li>
                      <li>Des rencontres avec des experts</li>
                  </ul>
                      
                </b>
            
           
                
            </div>
           
        </div>
    </div>
</div>

