<app-new-nav-bar ></app-new-nav-bar>


<div class="content">
   
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" style="flex:1 1 0%;padding: 2%;">
             
        <div fxFlex="100%"> 
          <mat-card >
              <mat-toolbar class="header-card" >
                <div style="margin: 0 auto;text-align: center;">
                    <img style="width:35%" src="/assets/img/ICONS_Website/logo.png">
                </div>
              </mat-toolbar>
              <router-outlet></router-outlet>
          </mat-card>
        
        </div>
      </div>

        <app-menu-verticale  class="test" ></app-menu-verticale>   
 
</div>
<app-new-footer-bar style="top: 100%;width: 100%;" ></app-new-footer-bar>