<div> 
    <mat-card>
      <h1 style="text-align: center;">Règlement du Challenge Innovact</h1>
      <h2 style="font-size: 20px;">Article 1 : L’Organisateur</h2>
      <p style="font-family: arial;font-size: 12px; text-align: justify;">
          L’UNION BANCAIRE POUR LE COMMERCE ET L’INDUSTRIE «UBCI», Société Anonyme au capital de 100.007.645 DT 
          dont le siège social est situé à Tunis (1002), 139, Avenue de la Liberté; organise un 
          Challenge d’innovation du 11 Octobre au 13 Décembre 2018.
      </p>
      <!--Article 2-->
      <h2 style="font-size: 20px;">Article 2 : Objet du Challenge Innovact UBCI</h2>
      <p style="font-family: arial;font-size: 12px;    text-align: justify;">
          L’UBCI organise un challenge, ci-après désigné le « Challenge Innovact » ou « Innovact-UBCI»,  visant à faire participer 
          des étudiants au développement pour le compte de la banque de projets innovants proposés par des collaborateurs UBCI 
          (désignés comme « Porteur de Projet ») de la phase d’idée à sa concrétisation par un POC Proof of Concept
          Durant une période de six semaines, à l’élaboration d’un projet préalablement définit par un des collaborateurs 
          de l’UBCI (le porteur du projet) et l’amener avec son équipe constituée de quatre membres 
          (un collaborateur UBCI et trois étudiants) de l’idée vers la concrétisation d’un POC Proof of Concept.   
      </p>
      <!--Article 3-->
        <h2 style="font-size: 20px;">Article 3 : Eligibilité à la participation au Challenge Innovact UBCI</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
            Le challenge est gratuit.
            Outre les Porteurs de Projets UBCI retenus par la banque sont admis à participer au Challenge les étudiants:
          </p>
          <ul style="font-family: arial;font-size: 12px;    text-align: justify;">
              <li>Inscrits à l’année universitaire 2018/2019, </li>
              <li>Inscrits à une université ou faculté, une école ou institut d’enseignement supérieur, privée ou public</li>
              <li>Résidants sur le territoire Tunisien </li>
              <li>Ayant effectué une inscription sur la Platefome <a href="www.Innovact-ubci.tn et retenus par l’UBCI">www.Innovact-ubci.tn et retenus par l’UBCI</a>.</li> 
          </ul>
        <!--Article 4-->
        <h2 style="font-size: 20px;">Article 4 : Thématiques du Challenge</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
          Les étudiants auront dans le cadre du Challenge InnovAct la possibilité de participer au développement d’un projet appartenant à l’un des 4 thèmes suivants :
        </p>
        <ul style="font-family: arial;font-size: 12px;    text-align: justify;">
            <li>Amélioration du Parcours Client </li>
            <li>Optimisation de l’Organisation et des Processus</li>
            <li>Engagement de la banque envers ses collaborateurs</li>
            <li>Engagement de la banque envers son Environnement </li>
        </ul>
  
        
  
        <!--Article 5-->
        <h2 style="font-size: 20px;">Article 5 : Modalités d’inscription à la plateforme Innovact UBCI</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
          Pour s’inscrire au Challenge, les Etudiants devront :
        </p>
        <ul style="font-family: arial;font-size: 12px;    text-align: justify;">
            <li>Accéder au site :<a href="www.Innovact-ubci.tn et retenus par l’UBCI">www.innovact-ubci.tn</a> entre le 11 octobre 2018 (1er jour d’ouverture des inscriptions) et le 28 Octobre 2018 (dernier jour des inscriptions).</li>
            <li>Créer leur compte Innovact en insérant leur adresse mail et un mot de passe (minimum 8 caractère alphanumérique)</li>
            <li>Répondre au questionnaire, classer par ordre de priorité les thèmes (listés ci-dessus à l’Art 4) auxquels ils souhaiteraient participer et confirmer l’acceptation des conditions dudit règlement. </li>
            <li>S’engager à respecter les conditions du règlement notamment par:</li>
                <ul style="font-family: arial;font-size: 12px;    text-align: justify;">
                  <li>Leur affectation à l’équipe et au projet désigné par la banque</li>
                  <li>Leur présence et leur assiduité lors des jours de rencontre détaillés dans le calendrier ci-dessous du présent règlement </li>
                  <li>Leur engagement à participer activement avec les membres de son équipe</li>
                </ul>
            <li>Dès la finalisation de l’inscription, chaque étudiant recevra de l’UBCI et par courrier électronique à l’adresse renseignée par ses soins un accusé de réception de sa Etudianture.</li>  
        </ul>
       
        <!--Article 6-->
        <h2 style="font-size: 20px;">Article 6 : Sélection des étudiants au Challenge innovact</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
        Les étudiants retenus seront informés par courrier électronique et invités à la cérémonie d’ouverture du Challenge et de l’inauguration du LAB UBCI qui aura lieu le 31 octobre 2018.
        Ces derniers seront affectés par la banque dans l’une des 10 équipes projets. 
        L’objectif de créer ce genre d’équipes et de mêler des compétences techniques, créatives et de design.
        Chaque équipe sera composée :  
        </p>
        <ul style="font-family:Arial;font-size: 12px;    text-align: justify;">
          <li>Du Porteur de projet UBCI</li>
          <li>De trois étudiants </li>
        </ul> 
       <!--Article 7-->
        <h2 style="font-size: 20px;">Article 7 : Durée du Challenge Innovact</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
        Le programme du Challenge durera 6 semaines soit du 1er Novembre (1er jour du démarrage du Challenge InnovAct) au 13 Décembre 2018 (date du PITCH final, de la délibération par les membres du Jury , 
        de la désignation des 3 équipes gagnantes et de la cérémonie de clôture du Challenge innovAct)
        </p>
        <!--Article 8-->
        <h2 style="font-size: 20px;">Article 8 : Calendrier et déroulement du Challenge Innovact UBCI</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
            Chaque participant se présente avec ses propres outils de développement logiciel.
  
            Une connexion internet Wifi sera disponible dans l’espace qui abritera le challenge à savoir le LAB UBCI situé au premier étage de l’agence UBCI Lac 2 durant toute la période du Challenge Innovact.
            
            Chaque participant devra faire preuve d’assiduité et de respect des dates durant lesquels il doit être présent dans le LAB UBCI. 
            
            L’UBCI se réserve le droit d’exclure un Etudiant en cas de non-respect du règlement du LAB UBCI et du dit challenge en général.
            
            Les rencontres du Challenge innovAct se feront au sein du LAB UBCI (sise agence UBCI LAC 2), comme suit :
        </p>
        <ul style="font-family:Arial;font-size: 12px;    text-align: justify;">
            <li><b>01 & 02 Novembre 2018 	:</b> Rencontre des équipes et Team Building Lors de ces journées 
              les participants (Porteur de projet UBCI et étudiants), 
              connaitront chaque les membres de leur équipe, et démarreront les formations pour le développement de leur projet.
            </li>  
            <li><b>Chaque vendredi du 09 Novembre au 07 Décembre 2018 : </b> Participation au Programme Challenge InnovAct 
              Ces journées seront consacrées pour suivre l’avancement du projet, assister à des formations, 
              et rencontreront des experts et testeront leur prototype.
            </li> 
            <li><b>12 Décembre 2018 : </b> Formation et répétition de préparation au Pitch final
            </li>  
            <li><b>13 Décembre 2018 :</b> Pitch Jury, sélection et désignation des 3 équipes gagnantes et Cérémonie de clôture
            </li>   
            <li style="font-style: italic;">NB : L’UBCI se réserve le droit de modifier une ou plusieurs des échéances ci-dessus listées ou un des articles du présent règlement sous réserve d’une notification publique sur son site Internet<a href="www.innovact-unci.tn"> www.innovact-unci.tn</a>
            </li>            
        </ul>
        <!--Article 9-->
        <h2 style="font-size: 20px;">Article 9 : Critères de sélection des gagnants</h2>
        <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
            Les Projets seront évalués par le Jury selon les 4 critères suivants :
        </p>
      <ul style="font-family:Arial;font-size: 12px;    text-align: justify;">
          <li><b>Innovation </b></li>
          <li><b>Faisabilité  </b></li>
          <li><b>Avantages de l'Innovation</b></li>
          <li><b>Présentation du Projet </b></li>
      </ul>
      
       
           <!--Article 10-->
           <h2 style="font-size: 20px;">Article 10 : Prix du Challenge</h2>
           <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
              A l’issue du Challenge, seront décernés 3 prix :
            </p>
          <ul style="font-family:Arial;font-size: 12px;    text-align: justify;">
              <li><b>Equipe GOLD : </b>Enveloppe de 6 000 Dinars</li>
              <li><b>Equipe SILVER : </b>Enveloppe de 4 000 Dinars</li>
              <li><b>Equipe BRONZE : </b>Enveloppe de 2 000 Dinars</li>
          </ul>
            
          
            <!--Article 11-->
            <h2 style="font-size: 20px;">Article 11 : Obligations des Etudiants Lauréats</h2>
            <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
            Les gagnants de ce challenge autorisent l’UBCI à publier leur nom ainsi que la description de leur projet dans le cadre de toutes actions de communication liées au Challenge Innovact, sans pouvoir prétendre dans ce cadre à aucun droit, quel qu’il soit.
           Les gagnants s’engagent à autoriser l’UBCI de publier l’état d’avancement du Projet après la fin du Challenge par voie publique et ce pendant a minima les 12 mois consécutifs à leur désignation en tant que gagnant.        
            </p>
            <!--Article 12-->
            <h2 style="font-size: 20px;">Article 12 : Propriété intellectuelle</h2>
            <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
                L’Etudiant s’engage à ne pas violer sciemment les droits de propriété intellectuelle lors de la réalisation du Projet sur lequel ils vont travailler.
  
                L’Etudiant reconnait être informé qu’il sera tenu pour seul responsable en cas de violation avérée de la présente déclaration.
                
                Les étudiants n’acquièrent aucun droit de propriété sur les projets, les contenus publiés sur tous les supports en ligne ou hors ligne. Cela inclut notamment leurs contributions écrites, illustratives, leurs vidéos, leurs documents, leurs développements, leurs données personnelles et plus généralement toutes informations publiées par leurs soins sur tous les supports.
                
                De plus la reproduction, la représentation ou l'exploitation de tout ou partie des éléments composant le Challenge InnovAct qui y sont proposés sont strictement interdites. Toutes les marques ou noms de produits cités sont des marques ou noms qui sont propriétés exclusives de l’UBCI.              
          </p>
          <!--Article 13-->
          <h2 style="font-size: 20px;">Article 13 : Responsabilité de L’UBCI</h2>
          <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
              La responsabilité de l’UBCI est strictement limitée à la délivrance des dotations effectivement et valablement gagnées.
              L’UBCI ne saurait être tenu responsable des innovations présentées (brevets des produits ou services etc.).
              De plus, l’UBCI ne saurait être tenu responsable si les données relatives à l'inscription d'un participant ne lui parvenaient pas pour une quelconque raison ou lui arrivaient illisibles ou impossibles à traiter.
              Par ailleurs, La UBCI ne saurait être tenu responsable d'un préjudice d'aucune nature (personnelle, physique, matérielle, financière ou autre) survenu à l'occasion de la participation d'un participant au Challenge InnovAct.
              La participation au Challenge InnovAct implique la connaissance et l’acceptation des caractéristiques et des limites de l’Internet, notamment en ce qui concerne les performances techniques, les temps de réponse pour consulter, interroger ou transférer des informations, les risques d’interruption et, plus généralement, les risques inhérents à toute connexion et transmission sur Internet.
              Il est expressément rappelé que l’Internet n’est pas un réseau sécurisé. La UBCI ne saurait donc être tenu pour responsable de la contamination par d’éventuels virus ou de l’intrusion d’un tiers dans le système du terminal des participants au Challenge InnovAct et décline toute responsabilité quant aux conséquences de la connexion des participants au réseau via le site dédié.
              Plus particulièrement, La UBCI ne saurait être tenu pour responsable d’un quelconque dommage causé aux participants, à leurs équipements informatiques et aux données qui y sont stockées, ainsi que des conséquences pouvant en découler sur leur activité personnelle ou professionnelle.
              L’UBCI décline toute responsabilité en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques, du matériel de réception empêchant le bon déroulement du Challenge InnovAct.
              L’UBCI ne saurait davantage être tenu pour responsable dans le cas où l’un ou plusieurs participants ne pourraient parvenir à se connecter au formulaire ou enregistrer sa participation du fait de tout problème ou défaut technique lié notamment à l’encombrement du réseau.
              L’UBCI ne pourra, en aucun cas, être tenu responsable si le Challenge InnovAct devait être, écourté, prorogé, modifié, interrompu, reporté ou annulé pour des raisons indépendantes de sa volonté ou si les circonstances l’exigent.
              L’UBCI ne saurait être tenu pour responsable en cas de perturbations qui pourraient affecter le bon déroulement du Challenge InnovAct.
              L’UBCI pourra annuler tout ou partie du Challenge InnovAct s’il apparait que des fraudes sont intervenues sous quelque forme que ce soit, notamment de manière informatique dans le cadre de la participation au Challenge InnovAct ou de la détermination des lauréats.
              L’UBCI se réserve dans ce cas la possibilité de tout mettre en oeuvre afin de garantir l’égalité des chances entre tous les participants.
              L’UBCI ne saurait être engagé à l’égard des participants au-delà du nombre de dotations annoncé dans le règlement du Challenge InnovAct et dans la publicité accompagnant le présent Challenge.
              La responsabilité de L’UBCI ne pourra en aucun cas être retenue en cas de problèmes d'acheminement ou de perte de courrier postal ou électronique (notamment en ce qui concerne l’information des gagnants), ou de leur destruction totale ou partielle en raison d’un cas fortuit.
              Enfin, la responsabilité de L’UBCI ne peut être recherchée concernant tous les incidents qui pourraient survenir du fait de l’utilisation ou de l’absence d’utilisation de la dotation attribuée.            
        </p>
      <!--Article 14-->
      <h2 style="font-size: 20px;">Article 14 : Fraude</h2>
      <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
      et pourra faire l’objet de poursuites .Il est rappelé que le fait d’accéder ou de se maintenir frauduleusement dans un système 
      informatique, d’entraver ou de fausser le fonctionnement d’un tel système, 
      d’introduire ou de modifier frauduleusement des données dans un système informatique constitue des délits 
      passibles de sanctions pénales.
      </p>
      <!--Article 15-->
      <h2 style="font-size: 20px;">Article 15 : Données personnelles</h2>
      <p style="font-family:Arial;font-size: 12px;    text-align: justify;">
          Les données à caractère personnel concernant les participants recueillies dans le cadre du présent Challenge InnovAct sont obligatoires et nécessaires pour le traitement de leur participation² et pour la gestion du Challenge InnovAct. Elles sont uniquement destinées à l’Organisateur, responsable du traitement. Aucune autre utilisation des données personnelles ne sera effectuée par  l’Organisateur. Celui-ci est tenu au secret professionnel à l’égard de ces données. Toutefois, l’Organisateur est autorisé par le participant à communiquer les données le concernant à des sous-traitants et/ou des prestataires pour des besoins de gestion inhérents au Challenge InnovAct.
          L’Organisateur s'engage à l'égard des personnes concernées, à prendre toutes précautions utiles afin de préserver la sécurité des informations et notamment d'empêcher qu'elles ne soient communiquées à des tiers non autorisés.
          Toutes données collectées pour le bon déroulement du Challenge InnovAct, seront intégralement et durablement effacées à l’issue du Challenge InnovAct. Par ailleurs, aucune exploitation commerciale ne sera faite de ces données.
          Conformément aux dispositions de la loi du 2004-63 du 27/07/2004, tout participant dispose d'un droit d'accès, de rectification ou d'opposition au traitement de ses données personnelles. Il pourra s'opposer à ce que les informations le concernant fassent l'objet d'un traitement,  dénonçant ainsi expressément à la participation au Jeu. Pour exercer leurs droits, les participants devront adresser leur demande écrite auprès du Délégué Protection de données Personnelles à l'adresse suivante :
          <a href="ubci.dataprotection@bnpparibas.com ">ubci.dataprotection@bnpparibas.com </a>       
      </p>
    </mat-card>
  </div>
  