
<app-navbar-general *ngIf="testUrl !=='/login' && testUrl !=='' && testUrl !=='/register' && testUrl!='/home' && testUrl!='/contact'   "   ></app-navbar-general>
<div class="grid-container">
 
<div *ngIf="ProjectShow" >
    <a (click)="NavigateToProject()" style="color:#06955D;cursor:pointer" > <mat-icon aria-label="previous">skip_previous</mat-icon></a>   
    <mat-card>
        <mat-card-title>
            <h5>Projet:  {{Projet.Projet_Name}}</h5>
          </mat-card-title>
          <mat-card-content>
              <p>Catégorie: {{Projet.Categorie}}</p>
              <p>Date de début: {{Projet.Projet_Date_Debut | date}}</p>
              <p>Date de fin: {{Projet.Projet_Date_Cloture |date}}</p>
             <p>Description:   {{Projet.Projet_Description}}</p>
             
          </mat-card-content>
    </mat-card>
   
    
 </div>
<div style="padding-top: 2%;" >
<mat-card>
    <mat-card-title *ngIf="ProjectShow" style="color:#06955D">Liste des questionnaires</mat-card-title>
<mat-card-content>

   <div *ngIf="ProjectShow" >
      <button style="background:#06955D;color:rgb(246, 253, 251)" mat-raised-button (click)="addQuestionnaireByProject()" class="classAdd" >Ajouter</button>
    </div>
    <div *ngIf="!ProjectShow" >
        <h1 style="color:#06955D">Liste de questionnaires</h1>
        <button style="background:#06955D;color:rgb(246, 253, 251)" mat-raised-button (click)="addQuestionnaireP()" class="classAdd" >Ajouter</button>
     </div>

        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
              </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef><h3 style="color:#06955D">Nom</h3> </mat-header-cell>
        <mat-cell *matCellDef="let qst"> {{qst.Name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> <h3 style="color:#06955D">Type</h3> </mat-header-cell>
        <mat-cell *matCellDef="let qst"> {{qst.Type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef><h3 style="color:#06955D">Description</h3></mat-header-cell>
        <mat-cell *matCellDef="let qst"> {{qst.Description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date1">
        <mat-header-cell *matHeaderCellDef><h3 style="color:#06955D">Date de publication</h3> </mat-header-cell>
        <mat-cell *matCellDef="let qst"> {{qst.StartPublication | date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date2">
        <mat-header-cell *matHeaderCellDef><h3 style="color:#06955D">Date Fin de Publication</h3> </mat-header-cell>
        <mat-cell *matCellDef="let qst"> {{qst.EndPublication | date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ac">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let qst">
                    
                    <button mat-icon-button  style="color: #dd1155" matTooltip="Supprimer" (click)="delete(qst)">
                        <mat-icon aria-label="delete">delete</mat-icon>
                      </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ac2">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let qst">
                    <button mat-icon-button style="color: #ffcc33"  matTooltip ="Modifier" (click)="editQST(qst)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
                       
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ac3">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let qst">
                      <button mat-icon-button matTooltip ="Liste de questions" style="color:#02a365ad" (click)="ListQuestion(qst)">
                          <mat-icon aria-label="Questions">details</mat-icon>
                        </button>
                         
                  </mat-cell>
                </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</mat-card-content>
</mat-card>
</div>
  </div>

