<app-navbar-qst></app-navbar-qst>
<div class="boxinput">
    <mat-card style="margin-top: 5%;">
        <h1 class="title">
            Bienvenue  {{user.User_Name}} {{user.User_LastName}}
        </h1>
      <h2 class="title">VOTRE TYPE DE PERSONNALITÉ EST :</h2>
      <h2 class="title">{{Result.Title_Type}}</h2>
      
      <div >
          <img src="{{Result.Image_Type}}" style="width: 50%">
      </div>
      <p style="color: #676363;">
          {{Result.Description_Type}}
      </p>
      </mat-card>
      </div>



     
