<div class="container" style="height:auto">
    


    

    <div class="row" >
            <div class="col l4 m12 s12">
                <div class="divimg"></div>
                    <img class="image_1" style="width:95%" src="/assets/img/popup1/prix1.svg">
                
                <div class="content">
                    <b style="color:black">GOLD</b>
                    <p style="color:black">6 000 Dinars pour
                        l'équipe 1 </p>
                </div>
            </div>
            
            <div class="col l4 m12 s12">
                <div class="divimg">
                <img class="image_2"  style="width:95%" src="/assets/img/popup1/prix2.svg">
            </div>
            <div class="content">
                    <b style="color:black">SILVER</b>
                    <p style="color:black">4 000 Dinars pour
                        l'équipe 2 </p>
            </div>
            </div>
            <div class="col l4 m12 s12">
                <div class="divimg">
                <img class="image_2"  style="width:95%" src="/assets/img/popup1/prix3.svg">
            </div>
            <div class="content">
                    <b style="color:black">BRONZE </b>
                    <p style="color:black">
                        2 000 Dinars pour
                        l'équipe 3 </p>
            </div>
        </div>
    </div>
 

   

